<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'recipes_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="recipes-Name-<%%VALUE(RecipeID)%%>" class="recipes-Name "><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="recipes-DateCreated-<%%VALUE(RecipeID)%%>" class="recipes-DateCreated "><%%SELECT%%><%%VALUE(DateCreated)%%><%%ENDSELECT%%></td>
		<td id="recipes-Instructions-<%%VALUE(RecipeID)%%>" class="recipes-Instructions "><%%SELECT%%><%%VALUE(Instructions)%%><%%ENDSELECT%%></td>
		<td id="recipes-Description-<%%VALUE(RecipeID)%%>" class="recipes-Description "><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></td>
		<td id="recipes-SourceID-<%%VALUE(RecipeID)%%>" class="recipes-SourceID text-right"><%%SELECT%%><%%VALUE(SourceID)%%><%%ENDSELECT%%></td>
