<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the recipeingredients_init() hook (in hooks/recipeingredients.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="recipeingredients-RecipeID-<%%VALUE(RecipeIngredientID)%%>" class="recipeingredients-RecipeID text-right"><%%SELECT%%><%%VALUE(RecipeID)%%><%%ENDSELECT%%></td>
		<td id="recipeingredients-IngredientID-<%%VALUE(RecipeIngredientID)%%>" class="recipeingredients-IngredientID text-right"><%%SELECT%%><%%VALUE(IngredientID)%%><%%ENDSELECT%%></td>
		<td id="recipeingredients-Amount-<%%VALUE(RecipeIngredientID)%%>" class="recipeingredients-Amount text-right"><%%SELECT%%><%%VALUE(Amount)%%><%%ENDSELECT%%></td>
