<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="recipes-Name-<%%VALUE(RecipeID)%%>" class=""><%%VALUE(Name)%%></td>
		<td id="recipes-DateCreated-<%%VALUE(RecipeID)%%>" class=""><%%VALUE(DateCreated)%%></td>
		<td id="recipes-Instructions-<%%VALUE(RecipeID)%%>" class=""><%%VALUE(Instructions)%%></td>
		<td id="recipes-Description-<%%VALUE(RecipeID)%%>" class=""><%%VALUE(Description)%%></td>
		<td id="recipes-SourceID-<%%VALUE(RecipeID)%%>" class="text-right"><%%VALUE(SourceID)%%></td>
