<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the sources_init() hook (in hooks/sources.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="sources-FullName-<%%VALUE(SourceID)%%>" class="sources-FullName"><%%VALUE(FullName)%%></td>
		<td id="sources-PhoneNumber-<%%VALUE(SourceID)%%>" class="sources-PhoneNumber"><%%VALUE(PhoneNumber)%%></td>
		<td id="sources-Description-<%%VALUE(SourceID)%%>" class="sources-Description"><%%VALUE(Description)%%></td>
